@import './colors';

.bullets {
  flex-grow: 7.5;
}

.bullet-sub-list {
  padding-left: 20px;

  li {
    display: flex;
    flex-direction: column;
    width: 100%;

    .bullet {
      display: flex;
      flex-direction: row;
			align-items: flex-start;
      padding-left: 10px;

      i.symbol {
        font-size: 10px;
        width: 20px;
				line-height: 25px;
				margin: 4.5px 0;

        &.fa-circle {
          font-size: 5px;
        }
      }

      button.bullet-date {
        font-family: 'Open Sans';
        border: none;
        border-radius: 10px;
        cursor: pointer;
        margin: 4.5px 0;
        white-space: nowrap;
        font-size: 16px;
        background-color: lightblue;
        color: $med-grey;
        position: relative;
        outline: none;

        i {
          font-size: 16px;
        }

        .datetime {
          position: absolute;
          z-index: 10;
          top: 30px;
          left: 0;

          input {
            height: 0;
            width: 0;
          }
        }
      }

      form.bullet-form {
        width: 100%;
        display: flex;

        // div, textarea {
        //   font-size: 16px;
        //   background: inherit;
        //   flex-grow: 1;
        //   padding: 0 0 0 3px;;
        //   min-height: 25px;
        //   line-height: 25px;
				// 	margin: 4.5px 0;
				// 	border: none;
				// 	outline: none;
        // }
      }
    }
  }
}
