.bullets {
  flex-grow: 7.5;
}

.bullet-sub-list {
  padding-left: 20px;

  li {
    display: flex;
    flex-direction: column;
    width: 100%;

    .bullet {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 10px;
      line-height: 25px;

      i {
        font-size: 10px;
        width: 20px;
      }
      
      p.due-date {
        display: inline;
        padding: 0 5px;
        white-space: nowrap;
        line-height: 25px;
        border: 1px solid black;
      }
      
      .bullet-form {
        width: 100%;
        display: flex;

          input[type='text'] {
            flex-grow: 1;
            border: none;
            background-color: inherit;
            outline: none;
            padding: 0 0 0 3px;;
            line-height: 25px;
          }
      }
    }
  } 
}
