@import './inline-form.scss';
@import './colors.scss';

.topics {
  border-right: 1px $lt-grey solid;
  background-color: $lt-grey;
  ul {
    display: flex;
    width: 240px;
    flex-direction: column;

    li {
      background-color: $white;
      border-bottom: 1px $lt-grey solid;

      a {
        padding: 20px;
        width: 200px;
        display: block;

        &:hover {
          background-color: $lt-grey;
        }
      }
    }
  }
}
