@import './inline-form.scss';
@import './colors.scss';

.topics {
  border-right: 1px $lt-grey solid;
  background-color: $lt-grey;
  ul {
    display: flex;
    width: 240px;
    flex-direction: column;

    li {

      a {
        padding: 20px;
        width: 200px;
        display: block;
        background-color: $white;
        border-bottom: 1px $lt-grey solid;
        transition: .5s;

        &.active-topic-link, &:hover {
          background-color: $lt-grey;
          color: white;
          font-weight: 400;
        }

        &.active-topic-link {
          background-color: $lt-blue;

          &:hover {
            color: $lt-grey;
          }
        }
      }
    }
  }
}
