html
  head
    title= title
    script(src=#{NODE_ENV === production ? '/static/bundle.js' : 'http://localhost:8080/bundle.js'})
    script(src='https://use.fontawesome.com/97d5852fc7.js')
  body
    div(id='react-root')= 'React goes here' 
