.modal-background {
  position: fixed;
  background-color: rgba(200, 200, 200, .4);
  height: 100vh;
  width: 100vw;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-container {
    background-color: white;
  }
}
